@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<JobModel>
@{
}


<div class="list-group mt-4">
    @{
        foreach (var job in Model)
        {
            <a href="#" onclick="showModal(@job.Id)" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@job.JobTitle</h5>
                    <small>@job.JobLocation</small>
                </div>
                <p class="mb-1">@job.CompanyName</p>
                <small>Start: @job.StartDate.ToShortDateString()</small>
            </a>
        }
    }

</div>